<div class="flex" style="height: 94%;">
  <div class="carousel">
    <app-carousel-new></app-carousel-new>
  </div>
  
  
  <div class="form-control flexColumn">
    <div class="form-group">
      <h1 class="h1">Login</h1>
      <h3 class="h3">Welcome Back! Please login to your account</h3>
  
      <div class="username flexColumn">
        <label>
          <span>Username</span>
        </label>
        <div class="flex">
          <mat-icon>person_outline</mat-icon>
          <input type="value" required />
         
        </div>
       
      </div>
  
      <div class="password flexColumn">
        <label>
          <span>Password</span>
        </label>
        <input type="value" required />

      </div>
  
      <button class="btn">Continue</button>
    </div>
  </div>
  
</div>

