<!-- Slideshow container -->
<div class="slideshow-container">
  <div class="mySlides fade1">
    <img src="../../../assets/images/pexels-chait-goli-1981636.jpg">
  </div>
  <div class="mySlides fade1">
    <img src="../../../assets/images/pexels-fuzail-ahmad-2091074.jpg">
  </div>
  <div class="mySlides fade1">
    <img src="../../../assets/images/pexels-keith-lobo-10902378.jpg">
  </div>
  <div class="mySlides fade1">
    <img src="../../../assets/images/pexels-leo-arslan-8099547.jpg">
  </div>
  <div class="mySlides fade1">
    <img src="../../../assets/images/pexels-levent-simsek-3689269.jpg">
  </div> 
  <div class="mySlides fade1">
    <img src="../../../assets/images/pexels-rahul-1009898.jpg">
  </div>
  <div class="mySlides fade1">
    <img src="../../../assets/images/pexels-vlad-chețan-1915748.jpg">
  </div>
 
 </div>
<br>
