:root {
  --green-button-1: #1DE959;



  --blue: #1e90ff;
  --white: #ffffff;


  
}

body { 
  font-family: monospace, "Helvetica Neue", sans-serif;
 }

 .flex {
  display: flex;
 }

 .flexColumn {
  display: flex;
  flex-direction: column;
 }
